.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "TT-Octosquares-Medium";
  font-weight: lighter;
  font-size: 30px;
  /* color: #142bdd; */
  cursor: pointer;
}

.topLeft {
  display: flex;
  align-items: center;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.options {
  display: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
}

.options span {
  padding: 10px;
  cursor: pointer;
  color: #fefefe;
}
.options .lin span {
  padding: 10px;
  cursor: pointer;
  color: #fefefe;
}

.topbarIconContainer:hover .options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 100;
}

/* HAMBURGER (hidden on desktop) */
.topRight .hamburger {
  display: none;
  margin-right: 10px;
  cursor: pointer;
  color: #142bdd;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1024px) {
  .logo {
    font-size: 24px;
  }

  .topRight {
    gap: 8px;
  }

  /* Hide notifications & language on small screens */
  .topbarIconContainer:nth-child(1),
  .topbarIconContainer:nth-child(2) {
    display: none;
  }

  .topAvatar {
    width: 32px;
    height: 32px;
  }

  .topRight .hamburger {
    display: block;
  }
}